@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

    @model  LoginViewModel
*@
@{
    ViewData["Title"] = "Home Page";
}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Practica</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!--<script src="../Scripts/script.js"></script>-->
        <!--<link rel="stylesheet" href="../Css/style.css">-->

    </head>
    <body>
        <table id="myTable" border="1">
            <tr>
                <th>Id</th>
                <th>Geografia</th>

            </tr>
        </table>
    </body>
    </html>
}
